:root {
  --primary-color: #D8BA89;
  --secondary-color: #FFFFFF;
  --book-color: #F0EEF1;
  --book-text-color: #000000;
  --read-status-finished: #C2E1C1;
  --read-status-unfinished: #FAA0A0;
  --light-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
  text-shadow: var(--light-shadow);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-book {
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  padding: 12px;
  border-radius: 16px;
  background: var(--primary-color);
}

button:hover {
  filter: brightness(0.9);
  cursor: pointer;  
}

.bookshelf {
  width: max-content;
  padding: 28px;
  display: grid;
  grid-template-columns: repeat(4, 216px);
  gap: 16px;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--book-color);
  color: var(--book-text-color);
  padding: 8px;
  width: 200px;
  height: 200px;
  box-shadow: var(--light-shadow);
  position: relative;
  line-height: 1.4;
}

.delete-cell {
  position: absolute;
  top: 4px;
  right: 0;
}

.delete {
  width: 34px;
  background: none;
  border: none;
}

.delete-icon:hover {
  transform: scale(1.05);
}

.is-read {
  background-color: var(--read-status-unfinished);
  padding: 4px;
  border: none;
  font-size: 0.8rem;
  border-radius: 4px;
}

.is-read.finished {
  background-color: var(--read-status-finished);
}

/* Dialog styling below */
.new-book {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: var(--light-shadow);
  font-size: 1.2rem;
}

.new-book h2 {
  color: var(--primary-color);
  margin: 8px;
}

.new-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.new-book input[type="text"],
.new-book input[type="number"] {
  background-color: var(--book-color);
  height: 28px;
  width: 400px;
  font-size: 1.2rem;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

.new-book button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border:none;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 8px;
}

.new-book label[for="finished-reading"] {
  color: grey;
}